@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure the html and body take full height */
html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

/* Default styles for the light mode */
:root {
  --html-bg: #d0e4fb; /* White background for html */
  --body-bg: linear-gradient(
    to bottom,
    #d0e4fb,
    #8db8ea
  ); /* Light blue gradient for body */
  --foreground: #1f2937; /* Text color for light mode */
  --nav-bg: #d0e4fa;
}

/* Dark mode styles */
:root.dark {
  --html-bg: #0e265c; /* Black background for html */
  --body-bg: linear-gradient(
    to bottom,
    #0e265c,
    #0f0f0f
  ); /* Dark blue gradient for body */
  --foreground: #e5e7eb; /* Text color for dark mode */
  --nav-bg: #0e2659;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Apply styles to html and body */
html {
  background-color: var(--html-bg); /* Background color from theme */
  transition: background-color 0.5s ease; /* Smooth transition for theme change */
}

body {
  background: var(--body-bg, white); /* Gradient background for body */
  color: var(--foreground, black); /* Text color */
  transition: background 0.5s ease, color 0.3s ease; /* Smooth transition for background and text */
}

nav {
  background-color: var(--nav-bg); /* Background color from theme */
}

