@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure the html and body take full height */
html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

/* Default styles for the light mode */
:root {
  --html-bg: #D0E4FB; /* White background for html */
  --body-bg: linear-gradient(to bottom, #D0E4FB, #8DB8EA); /* Light blue gradient for body */
  --foreground: #1f2937; /* Text color for light mode */
  --nav-bg: #D0E4FB;
}

/* Dark mode styles */
:root.dark {
  --html-bg: #0E265C; /* Black background for html */
  --body-bg: linear-gradient(to bottom, #0E265C, #0F0F0F); /* Dark blue gradient for body */
  --foreground: #e5e7eb; /* Text color for dark mode */
  --nav-bg: #0E265C;
}

/* Apply styles to html and body */
html {
  background-color: var(--html-bg); /* Background color from theme */
  transition: background-color 0.5s ease; /* Smooth transition for theme change */
}

body {
  background: var(--body-bg, white); /* Gradient background for body */
  color: var(--foreground, black); /* Text color */
  transition: background 0.5s ease, color 0.3s ease; /* Smooth transition for background and text */
}

nav {
  background-color: var(--nav-bg); /* Background color from theme */
}